# Root .gitignore

# Dependencies
client/node_modules/
server/node_modules/

# Environment Variables
client/.env
server/.env

# Build output
client/build/

# IDE/OS files
.vscode/
.DS_Store
temp_auto_push.bat
temp_interactive_push.bat
